<!-- Sidebar -->
<div class="sidebar-fixed position-fixed">

    <div class="py-5" align="center">
       <img src="/assets/img/logo.png" alt="Logo" width="100">
        <h3>Electro Wallet</h3>
    </div>

    <div class="list-group list-group-flush">
        <a href="/user/dashboard/" class="list-group-item list-group-item-action waves-effect" id="home">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="/user/dashboard/profile" class="list-group-item list-group-item-action waves-effect" id="profile">
            <i class="fas fa-user mr-3"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect" id="tables">
            <i class="fas fa-table mr-3"></i>Tables</a>
        <a href="/user/dashboard/statistics" class="list-group-item list-group-item-action waves-effect" id="statistics">
            <i class="fas fa-percentage mr-3"></i>Statistics</a>
        <a href="/logout" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-sign-out-alt mr-3"></i>Log Out</a>
    </div>

</div>

<!-- Sidebar -->