{% extends "base.html.twig" %}

{% block title %}Electro Wallet{% endblock %}

{% block body %}
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand font-weight-bold " href="#">Electro Wallet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <i class="fa fa-info"></i> About
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="fa fa-address-book"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fa fa-sign-in-alt"></i> Log In </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron bg-jumbotron m-0">
        <div class="text-white text-center py-5 px-4 my-5">
            <div>
                <img class="img-fluid" src="/assets/img/logo.png" width="200">
                <h1 class="card-title h1-responsive pt-3 mb-5 font-weight-bolder text-dark text-uppercase text-light">
                    <strong>Electro Wallet</strong>
                </h1>
                <hr class="border-dark custom w-25 rounded-circle">
                <p class="mx-5 my-5 text-dark font-weight-bold text-light">
                    Best place to see what you spend and how much you spend!
                </p>
                <a class="btn btn-primary" href="#about"><i class="fas fa-search-dollar left"></i> Learn More</a>
            </div>
        </div>
    </div>
    <section class="bg-about-us m-0 text-light" id="about">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold mb-4 mx-auto w-responsive text-center">About us</h2>
        <!--Section description-->
        <p class="w-responsive mx-auto mb-5 text-center">
            This is filler text for about us
        </p>
        <div class="container">
            <div class="row">
                <!--Grid column-->
                <div class="col-sm-4 offset-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Ab accusantium alias
                        atque consequuntur dolor dolores ex
                        expedita explicabo fugiat id iusto
                        laudantium mollitia nemo neque placeat
                        possimus quae quasi quibusdam repellat
                        saepe temporibus ut velit veritatis,
                        voluptas voluptatum! Animi culpa id
                        iusto nulla placeat, praesentium
                        repudiandae rerum similique vero voluptatum.
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Ab accusantium alias
                        atque consequuntur dolor dolores ex
                        expedita explicabo fugiat id iusto
                        laudantium mollitia nemo neque placeat
                        possimus quae quasi quibusdam repellat
                        saepe temporibus ut velit veritatis,
                        voluptas voluptatum! Animi culpa id
                        iusto nulla placeat, praesentium
                        repudiandae rerum similique vero voluptatum.
                    </p>
                </div>
                <div class="col-sm-12 text-center mb-5">
                    <a href="/register" class="btn-primary btn">Register now!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-contact-us pt-5 text-light" id="contact">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
            Do you have any questions? Please do not hesitate
            to contact us directly. Our team will come back to you within
            a matter of hours to help you.
        </p>
        <div class="container">
            <div class="row">
                <!--Grid column-->
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <form id="contact-form" name="contact-form">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                            <div class="col-sm-9">
                                <div class="alert" id="displayMessage">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small bg-primary pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }} Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> undefined;</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/contactForm.js"></script>
{% endblock %}
