{% extends 'base.html.twig' %}

{% block title %}
    Article | New
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/article">Go back</a>

{% endblock %}
